In [9]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

In [2]:
df =  pd.read_csv("train.csv")
df.head()

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [4]:
df['News'] = df['Title'] + " " + df['Description']
df = df[['Class Index', 'News']]
df.head()

   Class Index                                               News
0            3  Wall St. Bears Claw Back Into the Black (Reute...
1            3  Carlyle Looks Toward Commercial Aerospace (Reu...
2            3  Oil and Economy Cloud Stocks' Outlook (Reuters...
3            3  Iraq Halts Oil Exports from Main Southern Pipe...
4            3  Oil prices soar to all-time record, posing new...

In [5]:
df['News'] = df['News'].str.lower()
df['News']

C:\Users\emxxx\AppData\Local\Temp\ipykernel_6808\2062134372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['News'] = df['News'].str.lower()

0         wall st. bears claw back into the black (reute...
1         carlyle looks toward commercial aerospace (reu...
2         oil and economy cloud stocks' outlook (reuters...
3         iraq halts oil exports from main southern pipe...
4         oil prices soar to all-time record, posing new...
                                ...
119995    pakistan's musharraf says won't quit as army c...
119996    renteria signing a top-shelf deal red sox gene...
119997    saban not going to dolphins yet the miami dolp...
119998    today's nfl games pittsburgh at ny giants time...
119999    nets get carter from raptors indianapolis -- a...
Name: News, Length: 120000, dtype: object

In [6]:
df['News'] = df['News'].apply(word_tokenize)
df['News']

C:\Users\emxxx\AppData\Local\Temp\ipykernel_6808\1305872010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['News'] = df['News'].apply(word_tokenize)

0         [wall, st., bears, claw, back, into, the, blac...
1         [carlyle, looks, toward, commercial, aerospace...
2         [oil, and, economy, cloud, stocks, ', outlook,...
3         [iraq, halts, oil, exports, from, main, southe...
4         [oil, prices, soar, to, all-time, record, ,, p...
                                ...
119995    [pakistan, 's, musharraf, says, wo, n't, quit,...
119996    [renteria, signing, a, top-shelf, deal, red, s...
119997    [saban, not, going, to, dolphins, yet, the, mi...
119998    [today, 's, nfl, games, pittsburgh, at, ny, gi...
119999    [nets, get, carter, from, raptors, indianapoli...
Name: News, Length: 120000, dtype: object

In [7]:
stop_words = set(stopwords.words("english"))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [8]:
for i in range(len(df)):
    words = df.loc[i, 'News']
    filtered = []
    for w in words:
        if w.isalpha() and w not in stop_words:
            filtered.append(w)

    df.at[i, 'News'] = filtered

df['News']

0         [wall, bears, claw, back, black, reuters, reut...
1         [carlyle, looks, toward, commercial, aerospace...
2         [oil, economy, cloud, stocks, outlook, reuters...
3         [iraq, halts, oil, exports, main, southern, pi...
4         [oil, prices, soar, record, posing, new, menac...
                                ...
119995    [pakistan, musharraf, says, wo, quit, army, ch...
119996    [renteria, signing, deal, red, sox, general, m...
119997    [saban, going, dolphins, yet, miami, dolphins,...
119998    [today, nfl, games, pittsburgh, ny, giants, ti...
119999    [nets, get, carter, raptors, indianapolis, vin...
Name: News, Length: 120000, dtype: object

In [10]:
lem = WordNetLemmatizer()

for i in range(len(df)):
    words = df.loc[i, 'News']
    lemmatized = []
    for w in words:
        lemmatized.append(lem.lemmatize(w, "v"))

    df.at[i, 'News'] = lemmatized

df.head()

   Class Index                                               News
0            3  [wall, bear, claw, back, black, reuters, reute...
1            3  [carlyle, look, toward, commercial, aerospace,...
2            3  [oil, economy, cloud, stock, outlook, reuters,...
3            3  [iraq, halt, oil, export, main, southern, pipe...
4            3  [oil, price, soar, record, pose, new, menace, ...